@import "tailwindcss";
@import "flowbite/src/themes/default.css";
@import "../../node_modules/flowbite-typography/dist/typography.css";

@plugin "flowbite/plugin";


@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

/* You can define your color here https://www.tints.dev */
@theme {
    --color-primary-50: #faefef;
    --color-primary-100: #f5dcdc;
    --color-primary-200: #eab8b8;
    --color-primary-300: #e09595;
    --color-primary-400: #d57171;
    --color-primary-500: #cb4f4f;
    --color-primary-600: #ad3333;
    --color-primary-700: #822626;
    --color-primary-800: #571a1a;
    --color-primary-900: #2b0d0d;
    --color-primary-950: #180707;

    --font-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue",
    "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-body: "Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue",
    "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}
