---
import { getCollection, render } from "astro:content";
import { getPostsByTag, getPublishedPosts, getAllTags, sortPostsByDate } from "../../utils/filterts";
import PostCard from "../../components/post/PostCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = getAllTags(posts);
  return tags.map((tag: string) => {
    const published = getPublishedPosts(posts);
    const filteredByTag = getPostsByTag(published, tag);
    return {
      params: { tag: tag },
      props: { posts: filteredByTag },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const sortedByDate = sortPostsByDate(posts);
---

<BaseLayout title={`Wpisy #${tag}`} description={`Sprawdź wszystkie posty z tagiem #${tag} na blogu.`}>
  <h1 class="text-3xl md:text-4xl font-semibold mb-9">
    Wpisy <span class="italic font-extrabold"><span class="text-primary-500">#</span>{tag}</span>
  </h1>
  <section>
    {sortedByDate.map((post: any) => <PostCard post={post} />)}
  </section>
</BaseLayout>
