---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="O blogu" description="Wszystko co powinieneś wiedzieć o tym blogu">
  <h1 class="text-3xl md:text-4xl font-semibold mb-9 text-center">Kurs Aangulara na Udemy nieaktualny</h1>
  <div class="format dark:format-invert min-w-full">
    <p class="text-center text-2xl">Kurs na Udemy nie jest już dostępny. Zapoznaj się z nowymi treściami na blogu</p>
  </div>
</BaseLayout>
