---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="O blogu" description="Wszystko co powinieneś wiedzieć o tym blogu">
  <h1 class="text-3xl md:text-4xl font-semibold mb-9 text-center">O blogu</h1>
  <div class="format dark:format-invert min-w-full">
    <p>Ten blog jest inicjatywą osobistego rozwoju, sposobem przekazywania wiedzy i tworzenia społeczności.</p>


    <p>Gdy zacząłem pracę jako programista Java o programowaniu wiedziałem bardzo mało. Jednym ze sposobów nauki było
      uczenie innych. W taki karkołomny sposób nagrywałem swoje pierwsze tutoriale i pisałem posty na tym blogu.</p>


    <p>Zanim nagrałem jakikolwiek tutorial, musiałem poczynić mnóstwo przygotowań. Czasami zagłębiałem jeden temat
      godzinami, aby go dobrze zrozumieć i przekazać tą wiedzę dalej.</p>


    <p>Kolejnym problemem było przekazanie wiedzy w prosty i zrozumiały sposób, a przy tym na tyle ciekawy aby pozostała
      w odbiorcy chęć nauki. To zajmowało mi kolejne godziny, przygotowanie materiału dydaktycznego.</p>


    <p>Kolejne godziny to próby nagrań, edycja, składanie wszystkiego do kupy. Musiałem się nauczyć kolejnych nowych
      rzeczy.</p>


    <p>Patrząc dzisiaj na jakoś moich tutoriali, czasami się wstydzę sam przed sobą. Ale pozytywne komentarze, ciągle
      udowadniają, że to co zrobiłem jest dla kogoś wartościowe. Ponadto, gdyby nie tamten wysiłek i ta chęć nauki
      siebie przez naukę innych, nigdy bym nie był w tym miejscu gdzie jestem dzisiaj.</p>


    <p>Oczywiście, robiąc coś publicznie musimy się zmierzyć z krytyką, z tym, że komuś nie będzie się podobać. Musimy
      też zaakceptować to, że mogliśmy popełnić błędy, przekazać nieprawdę, ujawnić swoją niewiedzę. Na to trzeba być
      gotowym.</p>


    <p>Mam jednak tą świadomość, że wiele osób skorzystało i korzysta z mojej wiedzy. Że znajduje coś co pcha ich do
      przodu, a wiem to bo sami o tym piszą.</p>


    <p>Będę tutaj kontynuował swój sposób na naukę siebie przez uczenie innych. Z lepszym know-how, lepszym
      doświadczeniem. Ciebie też do tego zachęcam. Jeśli ktokolwiek zwróci Ci uwagę, że źle coś zrobiłeś i pokaże jak to
      zrobić lepiej, nauczysz się jeszcze więcej.</p>


    <p>Jeśli ktoś tylko zwróci uwagę, że zrobiłeś źle i nic nie umiesz, nie przejmuj się. Zawsze miej w sobie tą
      satysfakcję, że ciągle idziesz do przodu, bo się rozwijasz.</p>


    <blockquote class="wp-block-quote"><p>Tylko ten nie popełnia buga, kto nic nie robi.</p></blockquote>


    <p></p>
  </div>
</BaseLayout>
